$lightbackground: #ffffff;
$buttoncolor1: #5a3ac7;
$buttoncolor2: #4c40f8;
$buttondark: #082032;

$primarylight: var(--background-color);
$primarydark: #2061cd;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2c394b;

:root {
  --background-color: #840af5;
}
